
.container {
    display: flex;
    flex-Direction: column;
    align-items: center;
    justify-Content:center;
    padding: '20px';
}
  .button{
    background-Color: blue;
    color: white;
    border: none;
    border-Radius: 5px;
    padding: 10px 20px;
    margin: 20px;
  }
 
  .title {
    font-Size: 24px;
    font-Weight: bold;
    margin-Bottom: 10px;
  }
  .image {
    max-Width: 100%;
    }

  .movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
