body{
  background-color: rgb(18, 16, 16);
}

h1{
  color: azure;
}

h4{
  color: azure;
  align-items: end;
}
.container {
    display: flex;
    flex-Direction: column;
    align-items: center;
    justify-Content:center;
    padding: '20px';
}
  .button{
    background-Color: blue;
    color: white;
    border: none;
    border-Radius: 5px;
    padding: 10px 20px;
    margin: 20px;
  }
 
  .title {
    font-Size: 24px;
    font-Weight: bold;
    margin-Bottom: 10px;
    color: azure;
  }
  .image {
    max-Width: 100%;
    }

  .movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overview{
    font-size: small;
    font-weight: lighter;
    color:beige
  }